/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
/* Common css */
.dis-block{
    display: block;
}
.no-uderline-anchor{
    text-decoration: none;
}
.black-text{
    color: #000;
}